.error-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.navbar {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 40px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

.error-page .navbar-right {
  display: flex;
  gap: 38px; 
}

.error-page .navbar-right a {
  text-decoration: none;
  color: #B5B5B5; 
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 2px;
  border-bottom: none; 
}

.error-page .navbar-right a.active {
  color: #000; 
  font-weight: 600;
  border-bottom: 2px solid #000; 
}

.teamHeader__header-container {
  display: flex;
  padding: 60px;
  position: relative;
  background-color: #FBFBFB;
  gap: 20px;
}

.teamHeader__logo {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.teamHeader__info {
  flex: 1;
}

.teamHeader__team-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #000;
}

.teamHeader__description {
  font-size: 14px;
  color: #575757;
  line-height: 20px;
  word-break: keep-all;
}

.teamHeader__tab-container {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #979797;
}

.teamHeader__tab {
  padding: 14px 30px;
  text-align: center;
  background: none;
  border: none;
  color: #B5B5B5;
  font-size: 15px;
  cursor: pointer;
}

.teamHeader__tab.teamHeader__active {
  color: #000;
  font-weight: 500;
}

.error-form {
  width: 450px;
  margin: 60px auto 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error-form p.error-title {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.error-form p.error-desc {
  font-size: 13px;
  margin-top: -15px;
  text-align: center;
}

.error-form input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 13px;
  text-align: center;
}

.error-form button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 12px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

.page-footer {
  background-color: #eee;
  height: 100px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}